@media only screen and (max-width: 992px) {
    #blankpage {
        .post {
        	.left-link-row {
        		.left-link {
        			margin-bottom: 15px;
        		}
        		.right-link {
        			.row {
        				margin: 0;
        			}
        			.sub-right-link {
        				padding: 0;
        				margin-bottom: 15px;
        			}
        			.introduction-content {
        				padding-right: 0;
        			}
        		}
        	}
        }
    }
}
