.main-container {
    padding: 15px 0;
}

.main-container .content {
    margin-bottom: 380px;
}

.name-area {
    margin-top: 15px;
}

.footer-content .head-footer,
.footer-content .body-footer {
    margin-bottom: 30px;
}
