@media(min-width: 768px) and (max-width: 1200px) {
    .box-min-height{
        min-height: 193px;
    }
    .navbar-header {
    	float: none !important;
        .navbar-toggle {
            display: block !important;
        }
        .navbar-brand.header-home{
        	line-height: 40px !important;
        }
    }
    .navbar-collapse{
    	margin-right: -15px !important;
    	margin-left: -15px !important;
    	border-top: 1px solid #e7e7e7 !important;
    	.navbar-nav{
    		float: none !important;
    		li{
    			float: none !important;
    			a{
    				line-height: 20px !important;
    			}
    		}
    	}
    }
}
