@media (max-width: 1200px) {
    .school-ranking-container {
        .school-ranking-filter,
        .school-ranking-content,
        .school-ranking-pagination {
            padding: 0;
        }
    }
}
