.add-question-container {
    .btn-width {
        width: 150px;
    }
    .list-question {
        margin-bottom: 10px;
    }
    .container_test_input {
        .list_Exam_in_question {
            #bulkQuestion {
                display: none;
            }
        }
        .form-questions {
            .remove-area {
                margin-bottom: 10px;
            }
        }
    }
}
