#partner {
    table {
        tr {
            font-size: 12px;
            .status_waiting {
                color: #7f8c8d;
            }
            .status_activated {
                color: #27ae60;
            }
            button.action {
                padding: 5px;
            }
        }
    }
}

#become-partner {
    .heading {
        .title,
        p {
            color: #999
        }
        .title {
            font-family: "Benton Sans Book", Helvetica, sans-serif;
            font-size: 30px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 100;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
    .partner-benefit {
        margin-bottom: 30px;
        .partner-title {
            font-size: 20px;
            font-family: "Benton Sans Light", Helvetica, sans-serif;
            color: #333;
            -webkit-font-smoothing: auto;
            font-weight: 100;
        }
        .partner-content {}
    }
}
