#add_exams .edit_users-admin .container_test_input .grade {
  margin-bottom: 15px; }

.add-question-container .btn-width {
  width: 150px; }

.add-question-container .list-question {
  margin-bottom: 10px; }

.add-question-container .container_test_input .list_Exam_in_question #bulkQuestion {
  display: none; }

.add-question-container .container_test_input .form-questions .remove-area {
  margin-bottom: 10px; }

.update-question-container .btn-width {
  width: 130px; }

.update-question-container .choose-remove {
  overflow-x: hidden;
  margin-top: 10px; }

#partner table tr {
  font-size: 12px; }
  #partner table tr .status_waiting {
    color: #7f8c8d; }
  #partner table tr .status_activated {
    color: #27ae60; }
  #partner table tr button.action {
    padding: 5px; }

#become-partner .heading .title,
#become-partner .heading p {
  color: #999; }

#become-partner .heading .title {
  font-family: "Benton Sans Book", Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 50px; }

#become-partner .partner-benefit {
  margin-bottom: 30px; }
  #become-partner .partner-benefit .partner-title {
    font-size: 20px;
    font-family: "Benton Sans Light", Helvetica, sans-serif;
    color: #333;
    -webkit-font-smoothing: auto;
    font-weight: 100; }

.profile-container {
  font-family: "Trebuchet MS"; }
  .profile-container .profile-title {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1995DC; }
  .profile-container .profile-form .btn-profile {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd; }
    .profile-container .profile-form .btn-profile:active {
      color: #ffffff;
      background-color: #3276b1;
      border-color: #285e8e; }

.a_no_hover:hover {
  text-decoration: none !important; }

.required,
.no-record,
.error {
  color: #a94442; }

.alert {
  margin-top: 20px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.img-thumbnail {
  width: 200px; }

.margin-auto {
  margin: auto; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.overflow-x-hidden {
  overflow-x: hidden; }

.no-padding {
  padding: 0 !important; }

.custom-alert {
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px; }

.errors span {
  font-size: 12px;
  color: #c0392b; }

.country-container .add-new {
  margin-bottom: 10px; }

.option_site .logo_testyourself {
  max-width: 100%;
  height: 100px; }

.option_site .logo_wandont {
  max-width: 100%;
  height: 100px; }

#add_exams a {
  text-decoration: none; }

#add_exams .form-horizontal .edit_users-admin .panel .container_test_input {
  padding: 15px;
  width: 100%; }
  #add_exams .form-horizontal .edit_users-admin .panel .container_test_input .duration_add_exam {
    padding: 0 15px; }

#add_exams .list_option_add {
  display: none;
  margin-top: 15px; }
  #add_exams .list_option_add .question {
    padding: 15px; }

.container_test_input {
  width: 100%; }

.edit_users-admin .panel .form-horizontal {
  padding: 15px !important; }

.admin_home .admin_home_container .navbar {
  background: #000; }
  .admin_home .admin_home_container .navbar .container .dropdown-toggle {
    color: white; }
  .admin_home .admin_home_container .navbar .container .navbar-brand {
    color: white; }

.admin_footer {
  width: 100%;
  bottom: 0px; }
  .admin_footer .admin_description {
    background-color: #000;
    padding: 20px; }
    .admin_footer .admin_description p {
      text-align: center;
      color: white;
      margin: 0; }

.admin_dashboard .content_admin_table .container .title_h3 {
  margin-top: 0;
  border-bottom: 1px solid #1995DC;
  padding-bottom: 10px;
  margin-bottom: 15px; }

.admin_dashboard .content_admin_table .container .dashboard_admin {
  clear: left;
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .admin_dashboard .content_admin_table .container .dashboard_admin img {
    width: 100%;
    box-shadow: 5px 10px 5px #3d3d3d;
    border: 1px solid #1995dc; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0; }

#blankpageadmin .mgr-bottom15 {
  margin-bottom: 15px; }

.index_category fieldset {
  width: 100%; }

#add_exams .add_questions_list_table {
  width: 100%; }

.button_list_question_manage {
  width: 100%;
  text-align: left; }

.list_Exam_in_question .form-group {
  margin-bottom: 10px !important;
  clear: left;
  display: table;
  width: 100%; }
  .list_Exam_in_question .form-group .duration_add_exam {
    padding: 0 15px; }

.content_question_list_add {
  display: none; }
  .content_question_list_add .remove_option_in_question {
    padding: 0; }

.button_list_question_submit {
  margin-top: 20px;
  clear: left;
  padding: 30px; }
  .button_list_question_submit button {
    margin-right: 10px; }

.add_question_new {
  clear: left;
  padding-top: 20px; }

.answer_question_input {
  margin: 15px 0; }
