@media (max-width: 480px) {
    .school-detail-container {
        .school-detail-content {
            .school {
                .school-image {
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
