@media (max-width: 480px) {
    .exam-list-container {
        .page-content {
            .exam-table {
                tr {
                    th,
                    td {
                        display: block;
                        text-align: center;
                        width: 100%;
                    }
                }
                .tooltip-mobile
                {
                    display: block;
                }
            }
            .back {
                text-align: center;
            }
            .term-use {
                text-align: center;
            }
        }
    }
}
