@media (max-width: 480px) {
    .header_test_yourself {
        .container_site {
            .logo_register {
                height: 160px;
                .logo {
                    background-position: center!important;
                }
                .register_col {
                    margin-top: 20px;
                    height: initial;
                    .register {
                        p {
                            float: none;
                            position: relative;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
