@media(max-width: 1200px) {
    .header_test_yourself {
        #myNavbar {
            .dropdown.li_menu_test > ul {
                display: none !important;
            }
            .dropdown.li_menu_test.open-parent > a {
                background-color: #e7e7e7;
            }
            .dropdown.li_menu_test.open-parent > ul {
                display: block !important;
                .sub_li_menu_test > ul {
                    display: none !important;
                }
                .sub_li_menu_test.open-parent > ul {
                    background-color: #111112;
                    padding-left: 20px;
                    display: block !important;
                }
            }
            .dropdown.li_menu_test.open > a:hover {
                color: #000 !important;
            }
            .dropdown.li_menu_test.open-parent {
                .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 0;
                    background-color: transparent;
                    border: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    li {
                        a {
                            color: #fff !important;
                        }
                    }
                }
                .menu-child {
                    display: block !important;
                    li {
                        a {
                            color: #fff;
                            width: calc(100% - 70px);
                            .caret {
                                display: none;
                            }
                        }
                        .caret {
                            position: absolute;
                            right: 5px;
                            top: 15px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
