@media (max-width: 768px) {
    #home {
        .container_home {
            .home_page {
                .title {
                    .testyourself-test {
                        width: 100%;
                        .general-tests {
                            width: 80%;
                            float: none;
                            margin: auto;
                        }
                    }
                    #tys_textanimation {
                        .jumbotron1 {
                            .tlt {
                                font-size: 50px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}
