@media (max-width: 768px) {
    .school-ranking-container {
        .school-ranking-filter {
            margin-bottom: 20px;
            .search-button {
                padding: 0 15px;
            }
        }
    }
}
