@media(max-width: 768px) {
    .header_test_yourself {
        .container_site {
            .logo_register {
                height: 80px;
                .logo {
                    height: 70px;
                }
                .register {
                    p {
                        top: 20% !important;
                    }
                }
            }
        }
    }
    .login {
        .container {
            h3 {
                span {
                    font-size: 16px !important;
                    font-weight: bold !important;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .header_test_yourself {
        .container_site {
            .navbar {
                .navbar-brand {
                    line-height: 70px;
                }
                .navbar-collapse {
                    ul {
                        li {
                            a {
                                line-height: 50px;
                            }
                            .dropdown-menu {
                                li {
                                    a {
                                        line-height: 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .navbar-right {
                    font-size: 15px;
                }
            }
        }
    }
}
