%images {
    margin-bottom: 15px;
    height: 100%;
    padding: 15px !important;
    border: 1px solid #dedede;
    border-radius: 5px;
}

#blankpage {
	.post {
		.image-cover {
			overflow: hidden;
			width: 100%;
		}
		.left-link-row {
			margin: 0 0 15px 0;
		}
		.sub-link-row {
			margin: 0;
		}
		.only-introduction-content {
			padding-left: 30px;
		}
	}
    .container_site {
        .mgr-bottom15 {
            margin-bottom: 15px;
        }
        .mgr-top35 {
            margin-top: 35px;
        }
        .link_left {
            border: 1px solid #dedede;
            border-radius: 5px;
            padding: 10px;
        }
        .link_right {
            border: 1px solid #dedede;
            border-radius: 5px;
            padding: 10px;
        }
        .introduction {
            height: auto;
            border: 1px solid #dedede;
            border-radius: 5px;
            padding: 15px;
            margin-left: -15px;
            .introduction_title {
                margin-top: 0px !important;
                border-bottom: 2px solid #222;
                padding-bottom: 10px;
            }
        }
        .sublink {
            border: 1px solid #dedede;
            border-radius: 5px;
            padding: 10px;
        }
        .forum {
            margin-top: 10px;
            a {
                color: #7b7b7b;
            }
        }
        .images {
            .banner {
                width: 100%;
                @extend %images;
                img {
                    max-height: 150px;
                    width: 100%;
                }
            }
        }
        .images-photograp {
        	@extend %images;
        }
        ul {
            padding-left: 15px !important;
            li {
                list-style: none;
                margin: 5px;
                border-bottom: 1px dotted #dedede;
                a {
                    font-size: 16px;
                    font-weight: normal;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                }
            }
        }
    }
}
