.no-padding {
    padding: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.full-width {
    width: 100%!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

table.bordered > thead > tr,
table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0;
}

.errors {
	span {
		font-size: 12px;
		color: #c0392b;
	}
}
.min-height-500 {
    min-height: 500px;
}