#frontend_document {
    .search-document {
        .search-form {
            .submit-search {
                background: transparent;
                border: 0;
                outline: 0;
            }
        }
    }
    .list-document {
        .frame-container {
            .child-frame {
                padding: 10px;
                border: 1px solid #eee;
                border-radius: 10px;
                margin: 10px auto;
            }
            img {
                width: 100%;
                height: 200px;
                max-height: 210px;
                overflow: hidden;
                border: 1px solid #eee;
                border-radius: 10px;
            }
            .info-doc {
                .name-doc {
                    max-height: 70px;
                    overflow: hidden;
                    margin: 10px 0;
                    font-size: 15px;
                    height: 48px;
                }
            }
        }
    }
}
