.exam-container {
    .page-content {
        #Container_jbeeb_6 {
            background: #fc555a !important;
        }
        #Container_jbeeb_9 {
            background: #32ce79 !important;
        }
        #Container_jbeeb_12 {
            background: #fcbe55 !important;
        }
        .main-container {
            .list_question_exam_font_en {
                .ng-scope {
                    img {
                        width: 52%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
