#home {
    .container_home {
        .home_page {
            .slider_home {
                position: fixed;
                top: 0;
                width: 100%;
                height: auto;
                ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                        a {
                            text-decoration: none;
                            img {
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: fixed;
                            }
                        }
                    }
                }
            }
            .title {
                #tys_textanimation {
                    float: none;
                }
                .testyourself-test {
                    width: 100%;
                    text-align: center;
                    .general-tests {
                        width: 30%;
                        display: inline-block;
                    }
                    .professional-tests {
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

.container_site {
    max-width: 1170px;
    margin: auto;
}

#layer {
    .hide {
        display: none;
    }
    .login-btn {
        border: 5px solid #fff;
        border-radius: 80px;
        color: #fff;
        display: block;
        font-size: 26px;
        height: 150px;
        left: 50%;
        line-height: 150px;
        margin-left: -80px;
        position: absolute;
        text-align: center;
        top: 33vh;
        transition: all 0.75s ease-in-out 0s;
        width: 150px;
        z-index: 1000;
        .login-logo {
            .square1 {
                display: none;
            }
            .square2 {
                border: medium none;
                left: 63px;
                top: 63px;
                z-index: 1001;
                display: none;
            }
            .name {}
        }
    }
    .left-door {
        border-right: 3px solid #ccc;
        left: 0;
        background-color: #fff;
        bottom: 0;
        box-sizing: border-box;
        height: 100%;
        position: absolute;
        transition: all 1s ease-in-out 0s;
        width: 50%;
    }
    .right-door {
        background-color: #fff;
        bottom: 0;
        box-sizing: border-box;
        height: 100%;
        position: absolute;
        transition: all 1s ease-in-out 0s;
        width: 50%;
        border-left: 3px solid #ccc;
        right: 0;
    }
    .login-animate {
        width: 0;
    }
    .themed-background-default {
        background-color: #fff !important;
        position: absolute;
        top: 50%;
        margin-top: -75px;
    }
}

.exam_font_en_action {
    form {
        ul {
            li {
                list-style-type: none;
            }
        }
    }
}
