.login_site {
    margin-top: 10%;
}

.login {
    .login-options {
        overflow: auto;
        width: 300px;
        height: 60px;
        .social-icon-color {
            display: block;
            height: 100%;
            padding: 10px 0;
            i {
                color: #FFF;
                font-size: 38px;
                margin-left: 20px;
                float: left;
            }
            .social-title {
                display: inline-block;
                color: #FFF;
                height: 38px;
                float: left;
                line-height: 38px;
            }
        }
    }
    .login-facebook {
        background: #3B5998;
    }
}
