.payment-container {
    .alert-payment {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
}
