.school-ranking-container {
    .school-ranking-filter {
        margin-bottom: 20px;
        .filter {
            background: #f5f5f5;
            padding: 15px;
            .form-group {
                margin-bottom: 15px;
            }
        }
    }
    .school-ranking-content {
        .school {
            margin-bottom: 15px;
            width: 100%;
            tr {
                th,
                td {
                    padding: 8px;
                    line-height: 1.42857143;
                    vertical-align: top;
                }
                td {
                    a {
                        color: #000;
                        &:hover,
                        &:active {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
