.modal-header {
    border: 0!important;
}
.modal-body {
    border-top: 1px solid #e5e5e5!important;
    border-bottom: 1px solid #e5e5e5!important;
}
.modal-footer {
    text-align: left!important;
    border: 0!important;
}
.main_content_inner_page {
    .blue_box1 {
        background-color: #5bc0de;
        border: #46b8da solid 1px;
        color: #fff;
        font-size: 15px;
        line-height: 22px;
        border-radius: 3px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
        font-weight: bold;
        padding: 5px;
        display: inline-block;
    }
    .tol-attmpt {
        min-width: 180px;
        text-align: center;
    }
    .page-content {
        .page-header {
            .back_home_test {
                padding: 20px 15px 15px 15px;
                clear: left;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    .list_question_exam_font_en {
        background: white;
        padding: 15px;
        box-shadow: 0 0 5px #ddd;
        .question {
            h4 {
                clear: left;
            }
            .list_options {
                li {
                    clear: left;
                    p {
                        float: left;
                    }
                    input {
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .list_question_exam_font_en_submit {
        text-align: center;
        padding-top: 20px;
        button {
            margin-bottom: 10px;
        }
        p {}
    }
}
