#testyourself{
    .main_content_inner_page {
        .page-content
        {
            h1
            {
                margin: 15px 0;
            }
            .page-header
            {
                h1
                {
                    font-size: 21px;
                }
                .fix-h1 {
                    font-size: 21px !important;
                }
            }
        }
    }
}
