@mixin bg_menu_site_2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,666666+100,131313+100 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#666666 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#666666 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.navbar_agriculture_menu {
	@include bg_menu_site_2;
}

.do_you_want_done {
    .bg_li_menu {
        color: white;
        &:hover {
            color: #C4C4C4 !important;
        }
    }
    .navbar_agriculture_menu {
        ul {
            li {
                a {
                    color: #fff;
                }
                ul {
                    li {
                        a {
                            color: #000 !important;           
                        }
                    }
                }
                &:hover a{
                    color: black !important;
                }
            }
        }
    }
}
iframe.frames_document_show {
    width:100%;
    height:1000px;
}