#home .container_home .home_page .slider_home {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto; }
  #home .container_home .home_page .slider_home ul {
    list-style-type: none;
    padding: 0; }
    #home .container_home .home_page .slider_home ul li a {
      text-decoration: none; }
      #home .container_home .home_page .slider_home ul li a img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed; }

.container_site {
  max-width: 1170px;
  margin: auto; }

#layer .hide {
  display: none; }
#layer .login-btn {
  border: 5px solid #fff;
  border-radius: 80px;
  color: #fff;
  display: block;
  font-size: 26px;
  height: 150px;
  left: 50%;
  line-height: 150px;
  margin-left: -80px;
  position: absolute;
  text-align: center;
  top: 250px;
  transition: all 0.75s ease-in-out 0s;
  width: 150px;
  z-index: 1000; }
  #layer .login-btn .login-logo .square1 {
    display: none; }
  #layer .login-btn .login-logo .square2 {
    border: medium none;
    left: 63px;
    top: 63px;
    z-index: 1001;
    display: none; }
#layer .left-door {
  border-right: 3px solid #ccc;
  left: 0;
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out 0s;
  width: 50%; }
#layer .right-door {
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out 0s;
  width: 50%;
  border-left: 3px solid #ccc;
  right: 0; }
#layer .login-animate {
  width: 0; }
#layer .themed-background-default {
  background-color: #2a7cbb !important; }

.global_test_poin {
  margin-bottom: 30px; }

#home .home_page {
  /* The two faces of the cube */
  /* Position the faces */
  /* Rotate the cube */ }
  #home .home_page .title {
    margin-top: 40vh; }
    #home .home_page .title a {
      text-decoration: none; }
    #home .home_page .title .algin {
      text-align: center;
      font-size: 20px;
      line-height: 60px;
      letter-spacing: 0;
      font-weight: 400;
      color: #fff;
      font-family: inherit;
      text-transform: uppercase;
      font-size: 15px;
      height: 60px;
      overflow: hidden; }
    #home .home_page .title .test_bg {
      background: #27ae5f;
      background: -webkit-gradient(linear, left top, left bottom, from(#2ecc70), to(#27ae5f));
      background: -webkit-linear-gradient(top, #2ecc70, #27ae5f);
      background: -moz-linear-gradient(top, #2ecc70, #27ae5f);
      background: -ms-linear-gradient(top, #2ecc70, #27ae5f);
      background: -o-linear-gradient(top, #2ecc70, #27ae5f);
      background-image: -ms-linear-gradient(top, #2ecc70 0%, #27ae5f 100%);
      -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      text-shadow: #057534 0 1px 0;
      color: #ffffff;
      border: 1px solid #017d35;
      vertical-align: middle; }
      #home .home_page .title .test_bg:active {
        text-shadow: #057534 0 1px 0;
        border: 1px solid #057534;
        background: #27ae5f;
        background: -webkit-gradient(linear, left top, left bottom, from(#27ae5f), to(#27ae5f));
        background: -webkit-linear-gradient(top, #27ae5f, #27ae5f);
        background: -moz-linear-gradient(top, #27ae5f, #27ae5f);
        background: -ms-linear-gradient(top, #27ae5f, #27ae5f);
        background: -o-linear-gradient(top, #27ae5f, #27ae5f);
        background-image: -ms-linear-gradient(top, #27ae5f 0%, #27ae5f 100%); }
      #home .home_page .title .test_bg:hover {
        border: 1px solid #057534;
        text-shadow: #057534 0 1px 0;
        background: #27ae5f;
        background: -webkit-gradient(linear, left top, left bottom, from(#27ae5f), to(#27ae5f));
        background: -webkit-linear-gradient(top, #27ae5f, #27ae5f);
        background: -moz-linear-gradient(top, #27ae5f, #27ae5f);
        background: -ms-linear-gradient(top, #27ae5f, #27ae5f);
        background: -o-linear-gradient(top, #27ae5f, #27ae5f);
        background-image: -ms-linear-gradient(top, #27ae5f 0%, #27ae5f 100%);
        color: #ffffff; }
    #home .home_page .title .agriculture_bg {
      border: 1px solid #e83e2e;
      background: #c03a2b;
      background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#c03a2b));
      background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
      background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
      background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
      background: -o-linear-gradient(top, #e74d3c, #c03a2b);
      background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
      -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
      text-shadow: #e74d3c 0 1px 0; }
      #home .home_page .title .agriculture_bg:active {
        text-shadow: #e74d3c 0 1px 0;
        border: 1px solid #e83e2e;
        background: #c03a2b;
        background: -webkit-gradient(linear, left top, left bottom, from(#e74d3c), to(#e74d3c));
        background: -webkit-linear-gradient(top, #e74d3c, #c03a2b);
        background: -moz-linear-gradient(top, #e74d3c, #c03a2b);
        background: -ms-linear-gradient(top, #e74d3c, #c03a2b);
        background: -o-linear-gradient(top, #e74d3c, #c03a2b);
        background-image: -ms-linear-gradient(top, #e74d3c 0%, #c03a2b 100%);
        color: #fff; }
      #home .home_page .title .agriculture_bg:hover {
        border: 1px solid #e83e2e;
        text-shadow: #e74d3c 0 1px 0;
        background: #e74d3c;
        background: -webkit-gradient(linear, left top, left bottom, from(#c03a2b), to(#e74d3c));
        background: -webkit-linear-gradient(top, #c03a2b, #e74d3c);
        background: -moz-linear-gradient(top, #c03a2b, #e74d3c);
        background: -ms-linear-gradient(top, #c03a2b, #e74d3c);
        background: -o-linear-gradient(top, #c03a2b, #e74d3c);
        background-image: -ms-linear-gradient(top, #c03a2b 0%, #e74d3c 100%);
        color: #ffffff; }
    #home .home_page .title .bt {
      margin: 2% 0px; }
  #home .home_page .cube {
    text-align: center;
    margin: 0 auto;
    height: 50px;
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;
    -ms-transition: transform .33s;
    /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    /* <-NB */ }
  #home .home_page .flippety,
  #home .home_page .flop {
    height: 50px; }
  #home .home_page .flippety {
    -webkit-transform: translateZ(50px);
    transform: translateZ(25px);
    -ms-transform: translateZ(25px); }
  #home .home_page .flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-25px);
    -ms-transform: rotateX(-90deg) translateZ(-25px); }
  #home .home_page .cube:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    /* Text bleed at 90º */ }
  #home .home_page .f-top-al {
    margin-top: 2%; }

.center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center; }

.header_test_yourself .container_site .logo_register {
  height: 135px;
  clear: left;
  float: left;
  width: 100%;
  position: relative; }
  .header_test_yourself .container_site .logo_register .logo {
    margin: 5px 0;
    height: 125px;
    background-size: contain !important; }
  .header_test_yourself .container_site .logo_register .register_col {
    height: 100%; }
    .header_test_yourself .container_site .logo_register .register_col .register a {
      font-size: 13px; }
    .header_test_yourself .container_site .logo_register .register_col .register p {
      float: right;
      top: 50%;
      right: 0;
      position: absolute;
      margin-top: -10px;
      padding-right: 15px; }
      .header_test_yourself .container_site .logo_register .register_col .register p .login,
      .header_test_yourself .container_site .logo_register .register_col .register p .sign_up {
        color: #7b7b7b; }
.header_test_yourself .container_site .navbar {
  clear: left;
  background-color: #1269b1;
  background-repeat: no-repeat; }
  .header_test_yourself .container_site .navbar .navbar-brand {
    font-size: 15px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li a {
    font-size: 15px; }
  .header_test_yourself .container_site .navbar .navbar-right {
    font-size: 15px; }
.header_test_yourself .container_site .navbar-default {
  background-image: none !important; }
.header_test_yourself .container_site .navbar-default .navbar-brand:focus,
.header_test_yourself .container_site .navbar-default .navbar-brand:hover {
  color: white; }
.header_test_yourself .container_site .navbar-default .navbar-nav > li > a,
.header_test_yourself .container_site .navbar-default .navbar-brand {
  color: white; }

.feeture_test_yourself .container_site .menu_test_yourself_right {
  border: 1px solid #eee;
  padding: 15px; }
  .feeture_test_yourself .container_site .menu_test_yourself_right ul {
    padding: 0; }
    .feeture_test_yourself .container_site .menu_test_yourself_right ul li {
      list-style-type: none;
      margin-bottom: 15px; }
      .feeture_test_yourself .container_site .menu_test_yourself_right ul li a {
        font-size: 15.6px;
        color: #7b7b7b;
        text-decoration: none; }

.content_testyourself {
  clear: left; }
  .content_testyourself .container_site .free_share {
    padding: 15px 0; }
    .content_testyourself .container_site .free_share p {
      font-size: 23px;
      text-align: center; }
      .content_testyourself .container_site .free_share p span.number,
      .content_testyourself .container_site .free_share p .subject {
        color: #1269b1;
        font-weight: bold; }
  .content_testyourself .container_site .flash_video {
    margin-bottom: 30px;
    display: table;
    width: 100%; }
    .content_testyourself .container_site .flash_video .list_step {
      margin-bottom: 15px; }
      .content_testyourself .container_site .flash_video .list_step .img {
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 130px;
        max-width: 130px;
        margin: auto; }
        .content_testyourself .container_site .flash_video .list_step .img img {
          width: 100%; }
      .content_testyourself .container_site .flash_video .list_step .img2 {
        padding-bottom: 48%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 360px;
        margin: auto; }
      .content_testyourself .container_site .flash_video .list_step .img3 iframe {
        width: 100%;
        max-height: 188px; }
      .content_testyourself .container_site .flash_video .list_step .title {
        background-color: #0982CA;
        text-align: center; }
        .content_testyourself .container_site .flash_video .list_step .title a {
          text-decoration: none;
          padding: 12px 0;
          display: block;
          color: white; }
    .content_testyourself .container_site .flash_video .item1 {
      background: #ffdc64;
      border-bottom: #948550 solid 5px; }
    .content_testyourself .container_site .flash_video .item2 {
      background: #ffbc65;
      border-bottom: #8b7352 solid 5px; }
    .content_testyourself .container_site .flash_video .item3 {
      background: #95e5ff;
      border-bottom: #4c7f8f solid 5px; }
  .content_testyourself .container_site .big_black_title {
    margin: 20px 0;
    border-bottom: #7a7979 dashed 1px;
    padding-bottom: 30px; }
    .content_testyourself .container_site .big_black_title h2 {
      font-size: 55px;
      text-align: center; }
      .content_testyourself .container_site .big_black_title h2 .for_learning {
        color: #015295; }
    .content_testyourself .container_site .big_black_title p {
      text-align: center;
      font-size: 18px; }

.footer_test_yourself a {
  text-decoration: none; }
.footer_test_yourself .hits {
  text-align: center;
  background-color: #07579a;
  padding: 10px 20px;
  display: table;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 30px; }
  .footer_test_yourself .hits a {
    color: white; }
.footer_test_yourself .contactUs {
  text-align: center;
  margin-top: 20px; }
.footer_test_yourself .bottom_contact_us_section {
  margin-top: 30px;
  background: url(../images/footer_top.jpg) no-repeat bottom #373C50;
  background-size: cover;
  color: #FFF;
  font-size: 15px; }
.footer_test_yourself .bottom_contact_us_section h2 {
  background: #FFF;
  display: block;
  padding-bottom: 20px;
  margin-top: 0; }
.footer_test_yourself .bottom_contact_us_section a {
  color: #FFF; }
.footer_test_yourself .bottom_contact_us_section div[class^="col-"] {
  text-align: center;
  margin: 40px 0; }
.footer_test_yourself .bottom_contact_us_section img {
  margin-bottom: 10px;
  text-align: center;
  width: 33px;
  height: 33px; }
.footer_test_yourself .footer_test {
  background: #101417;
  float: left;
  width: 100%;
  color: white; }
  .footer_test_yourself .footer_test .footer_right p {
    float: right; }
    .footer_test_yourself .footer_test .footer_right p .icon_twitter {
      margin-left: 15px; }
    .footer_test_yourself .footer_test .footer_right p .icon_fb {
      margin-left: 15px; }
  .footer_test_yourself .footer_test p {
    padding: 30px 0;
    margin: 0; }
    .footer_test_yourself .footer_test p a {
      color: white; }

.admin_home .admin_home_container .navbar {
  background-color: #000; }

.admin_footer {
  position: fixed;
  width: 100%;
  bottom: 0px; }
  .admin_footer .admin_description {
    background-color: #000;
    padding: 20px; }
    .admin_footer .admin_description p {
      text-align: center;
      color: white;
      margin: 0; }

#testyourself .main_content_inner_page {
  background: #fff none repeat scroll 0 0; }
  #testyourself .main_content_inner_page .page-header {
    margin-top: 0; }
    #testyourself .main_content_inner_page .page-header h1 {
      font-size: 21px; }
#testyourself .container-fluid .bottom_contact_us_section {
  background: #373c50 url("../assets/images/testyourself/ban7.jpg") no-repeat scroll center bottom/cover;
  color: #fff;
  font-size: 15px;
  margin-top: 30px; }
  #testyourself .container-fluid .bottom_contact_us_section img {
    height: 33px;
    margin-bottom: 10px;
    text-align: center;
    width: 33px; }
  #testyourself .container-fluid .bottom_contact_us_section div[class^="col-"] {
    margin: 40px 0;
    text-align: center; }
#testyourself .container-fluid .footer {
  background: #101417 none repeat scroll 0 0;
  border-top: 1px solid #fff;
  color: #fff;
  padding: 30px 0; }
  #testyourself .container-fluid .footer .footer_right {
    text-align: right; }
    #testyourself .container-fluid .footer .footer_right .connect img {
      float: right; }
    #testyourself .container-fluid .footer .footer_right .connect div {
      float: right; }
    #testyourself .container-fluid .footer .footer_right img {
      display: inline-block; }

.main_content_inner_page .blue_box1 {
  background-color: #5bc0de;
  border: #46b8da solid 1px;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding: 5px;
  display: inline-block; }
.main_content_inner_page .tol-attmpt {
  min-width: 180px;
  text-align: center; }

.main_content_inner_page .page-content .review_test_result {
  border-radius: 21px;
  height: 50px;
  margin: 0 auto 10px;
  padding-top: 10px;
  width: 164px; }
  .main_content_inner_page .page-content .review_test_result a {
    color: #fff !important;
    font-size: 20px; }
.main_content_inner_page .page-content .review_test_result:hover {
  background-color: #286090; }

@media (max-width: 768px) {
  .header_test_yourself .container_site .logo_register {
    height: 80px; }
    .header_test_yourself .container_site .logo_register .logo {
      height: 70px; } }
@media (min-width: 768px) {
  .header_test_yourself .container_site .navbar .navbar-brand {
    line-height: 50px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li a {
    line-height: 50px; }
  .header_test_yourself .container_site .navbar .navbar-collapse ul li .dropdown-menu li a {
    line-height: 25px !important; }
  .header_test_yourself .container_site .navbar .navbar-right {
    font-size: 15px; } }
#testyourself .main_content_inner_page .page-content h1 {
  margin: 15px 0; }
#testyourself .main_content_inner_page .page-content .page-header h1 {
  font-size: 21px; }
#testyourself .main_content_inner_page .page-content .page-header .fix-h1 {
  font-size: 21px !important; }

#signup .container_sign_up {
  width: 100%; }
  #signup .container_sign_up .cap_chart_site {
    overflow: hidden; }
#signup .container_fluider_sigup {
  padding: 0; }
#signup .main_content_inner_page .reg_box .lb_radio {
  text-align: left; }
#signup .main_content_inner_page .reg_box label {
  font-weight: normal;
  margin-top: 10px;
  text-align: right;
  width: 100%; }
#signup .main_content_inner_page .reg_box .reg_title {
  font-size: 25px;
  height: 36px;
  margin-bottom: 60px; }
  #signup .main_content_inner_page .reg_box .reg_title img {
    float: left; }
  #signup .main_content_inner_page .reg_box .reg_title div {
    float: left;
    margin-left: 15px;
    margin-top: 10px; }
#signup .main_content_inner_page .reg_box .customfile-wrap .customfile-upload {
  background: #dfdfdf none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-left: -1px;
  padding: 6px 10px;
  position: absolute;
  right: 16px;
  text-transform: uppercase;
  top: 1.4px;
  width: 80px; }
#signup .main_content_inner_page .reg_box .customfile-wrap .customfile-filename {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  margin: 0px; }
#signup .main_content_inner_page .reg_box .customfile-wrap .texbox_rounded {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  max-width: 360px;
  padding: 12px;
  width: 100%; }

.sign_up_page {
  clear: left; }

.navbar_agriculture_menu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,666666+100,131313+100 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #666666 100%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */ }

/*# sourceMappingURL=globaltestpoint.css.map */
